.subject-form{
    display: flex;
    align-items: center;
    background-color: transparent;

    padding: 5px;

    span{
        font-weight: bold;
        font-size: 1.3rem;
        color: tomato;
    }
}