.task-list{
    list-style: none;

    li{
        background-color: #eeeeee;
        padding: 10px;
        display: grid;
        grid-template-columns: 4fr 1fr;
        align-items: center;
        margin-top: 5px;
        border: 1px solid rgba($color: #000000, $alpha: 0.08);
        .note{
            cursor: pointer;
            background-color: tomato;
            justify-self: flex-end;
            padding: 10px;
            font-size: 1.4rem;
            color: rgba($color: white, $alpha: 0.7);
            font-weight: bold;
            border: 2px solid rgba($color: #000000, $alpha: 0.2);
            border-bottom-width: 4px;
            box-shadow: 0 0 0px 5px rgba($color: #000000, $alpha: 0.08);
            
            border-radius: 50px;;
        }
    }
}